.order-card{
    width: 270px;
    border: 1px solid rgb(236, 236, 236);
    margin-right: 10px;
    margin-bottom: 30px;
    box-shadow: 4px 5px 12px 0px rgba(50, 50, 50, 0.75);
    border-radius: 10px;
}

.content-data-card-order{
    text-align: left;
    padding-left: 10px;
}

.content-data-card-order label{
    font-size: 0.8rem;
    font-weight: bold;
    color: #a5b1c2;
}

.content-data-card-order h4{
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}