input{
    width: 80%;
    padding: 8px 2px 8px 5px;
    background: white;
    font-size: 20px;
    color: #4e5155;
    margin-top: 1px;
    margin-bottom: 15px;
    border:none;
    opacity: 2;
    padding: 5px 10px;
    outline: none;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.button:focus, button:active {
    outline: none;
}

button {
    cursor: pointer;
}

.button-save {
    padding: 5px 15px;
    width: 8rem;
    color: white;
    background: #20BF6B;
    border: none;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 8px;
    margin-right: 2rem;
}

.button-cancel {
    padding: 5px 15px;
    width: 8rem;
    color: white;
    background: #E84118;
    border: none;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 8px;
}