.container-header{
    background: #e84118;
    width: 100%;
    height: 10vh;
    display: flex;
}

.header-left{
    width: 50%;
    height: 10vh;
    display: flex;
    padding-left: 10px;
}

.header-right{
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    padding: 3px;
}

.button-new-demand{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
}

.button-new-demand:hover, a:hover{
    background: white;
    color: #353B48;
    border-radius: 5px;
    font-weight: bolder;
}