.modalDeleteDemand{
  width: 20%;
  margin: 2vw auto;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 4px 5px 12px 0px rgba(50, 50, 50, 0.75);
}

.title-delete-demand {
  background: #353B48;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.body-form-delete-demand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer-form-delete-demand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
}

@media screen and (max-width: 800px) {
  .modalDeleteDemand{
    width: 90%;
    height: 90vh;
    margin: 3vw auto;
  }

  .body-form-delete-demand {
    max-height: 70vh;
    overflow-y: scroll;
  }
}